/* Padrao PALMA ABC - Bruno - 03/02/2016 */

body{
	margin: 0 0 0 0;
	background-color: #fafafa;
}

@font-face {
	font-family: alwaysb;
	src: url('../fonts/always.ttf') format("truetype");
}

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto.ttf') format("truetype");
}

.corpo{
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	min-width: 430px;
	min-height: 600px;
}

/*=================================================TOPO=================================================*/
	
	.topo{
		width: 100%;
		height: 10%;
		min-height: 75px;
		background-color: #53aeae;
		background-image: url("../img/logo_flat.png");
		background-repeat: no-repeat;
		background-position: center; 
	}
/*=================================================MEIO=================================================*/
	
	.meio{
		width: 100%;
		height: 75%;
		background-color: #fafafa;
	}

	.meio_img{
		width: 49%;
		height: 100%;
		float: left;
		text-align: right;
		background-image: url("../img/gabriela.jpg");
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: right;
	}

	.meio_txt{
		width: 49%;
		float: right;
	}

	.meio_titulo{
		font-family: alwaysb;
		color: #f28566;
		font-size: 2em;
		padding-top: 30px;
		text-align: left;
		width: 100%;
	}

	.meio_texto{
		float: left;
		font-size: 1em;
		padding-top: 30px;
		font-family: arial;
		text-align: left;
		width: 100%;
		max-width: 600px;
	}

	@media screen and (max-width: 920px) {
		
		.meio_img{
			width: 0%;
			height: 0%;
			float: none;
			text-align: none;
			display: none;
		}

		.meio_txt{
			width: 50%;
			min-width: 380px;
			float: none;
			text-align: center;
		}

		.meio_titulo{
			font-family: alwaysb;
			color: #f28566;
			font-size: 2em;
			padding-top: 30px;	
			text-align: center;	
		}

		.meio_texto{
			float: left;
			font-size: 1em;
			padding-top: 30px;
			font-family: arial;
			text-align: center;
			width: 100%;
			max-width: 600px;
		}
	}
/*=================================================ASSINATURA=================================================*/
	
	.ass{
		position: fixed;
		margin: 0 0 0 0;
		bottom: 0px;
		width: 100%;
		height: 15%;
		min-height: 125px;
		background-color: #fafafa;
		min-height: 130px;
	}

	.ass_logo{
		width: 49%;
		height: 100%;
		float: left;
		text-align: right;
	}

	.ass_texto{
		height: 100%;
		width: 49%;
		float: right;
		text-align: left;
	}

	.ass_palma{
		font-family: alwaysb;
		color: #f28566;
		font-size: 1em;
		height: 50%;
		width: 25%;
		text-align: center;
		padding-top: 1%;
		min-width: 120px;
		min-height: 70px;
	}

	.ass_site{
		font-family: arial;
		color: #53aeae;
		font-size: 1em;
		height: 50%;
		width: 100%;
		min-width: 120px;
	}