/* Padrao PALMA ABC - Eder - 23/03/2015 */

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto.ttf') format("truetype");

}

@font-face {
	font-family: alwaysb;
	src: url('../fonts/always.ttf') format("truetype");

}

body {

	margin: 0px 0px 0px 0px;
	font-family: roboto, arial;
	color: #2d363d;
	font-size: 17px;
	font-weight: normal;

}



a:link    {color: #2d363d;  text-decoration:none}
a:visited {color: #2d363d; text-decoration:none}
a:hover   {color: #2d363d; text-decoration:none}
a:active  {color: #2d363d; text-decoration:none}

article{

	font-family: alwaysb, arial;
	color: #ffffff;
	font-size: 45px;
}

.tudo{

	width: 100%;

	max-width: 1920px;
	min-width: 1000px;
	overflow: hidden;
	/*height: 4370px; */

}


/*  ============================== Parte superior ========================= */

.topo_geral{

	width: 100%;
	height: 1300px;
	overflow: hidden;

	background-color: #fefefe;


}

.top{

	width: 100%;
	height: 278px;
	background-image: url(../img/top.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #26618b;
}

.estrelas{
	position: absolute;
	width: 100%;
	height: 278px;
	background-image: url(../img/top2.png);




		animation:mov1 6s;
	-moz-animation:mov1  6s; /* Firefox */
	-webkit-animation:mov1  6s; /* Safari and Chrome */
	
	animation-iteration-count:infinite; 
	-webkit-animation-iteration-count:infinite; /* Safari and Chrome */

}


.estrelas2{
	position: absolute;
	width: 100%;
	height: 278px;
	background-image: url(../img/top2.png);

	


		 -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);


		animation:mov2 6s;
	-moz-animation:mov2  6s; /* Firefox */
	-webkit-animation:mov2  6s; /* Safari and Chrome */
	
	animation-iteration-count:infinite; 
	-webkit-animation-iteration-count:infinite; /* Safari and Chrome */

}

.limite{
	position: relative;
	width: 1000px;
	text-align: left;


}

.logo{

	position: relative;
	width: 279px;
	height: 220px;
	top: 95px;

	background-image: url(../img/logo_palma_abc.png);

	z-index: 20;

}

.slogan{

	position: relative;
	left: 300px;
	top: -145px;

	

	font-size: 35px;

	 -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);



}

.fundo_listrado{
	position: relative;
	top: -860px;
	width: 100%;
	height: 559px;
	/*background-image: url(../img/fundo_listrado.jpg);*/
	background-repeat: repeat-x;
	z-index: 10;
	background-color: #293239;

}

.tablet{

	position: relative;
	
	top: -40px;
	left: 320px;

	width: 687px;
	height: 861px;

	background-image: url(../img/tablet.png);

	z-index: 20;


}

.madeiras{
	position: absolute;
	top: 190px;
	left: 80px;
	width: 1183px;
	height: 1133px;
	background-image: url(../img/madeiras.png);
	background-repeat: no-repeat;
	z-index: 40;


}

.madeiras2{
	position: absolute;
	top: 190px;
	left: 80px;
	width: 1183px;
	height: 1133px;
	background-image: url(../img/madeiras2.png);
	background-repeat: no-repeat;
	z-index: 41;


}


.barra_branca_inclinada{
	position: relative;

	top: 550px;
	left: -200px;


	width: 200%;
	height: 350px;

	background-color: #ffffff;

	 -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);

    z-index: 60;

}

.tracado_gradiente{

	position: relative;
	width: 200%;
	height: 110px;

	top: 551px;
	left: -200px;
	background-image: url(../img/tracado.png);
	background-repeat: repeat-x;
	z-index: 30;

		 -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);


}

.bloco_tablet{

	position: relative;
	top: -1220px;
	left: -330px;
	width: 310px;
	height: 235px;

	

	z-index: 100;

	text-align: right;
}

.bloco_tablet article{

	font-size: 25px;


}

.bloco_tablet .subtexto{

	color: #ffffff;
	font-size: 15px;


}

.bloco_tablet .icone_google_play{

	position: relative;
	top: 7px;
	left: 110px;
	width: 206px;
	height:61px;

	background-image: url(../img/logo_google_play.png);

	z-index: 70;
}



.bloco_tablet .icone_google_play:hover{

	position: relative;
	top: 7px;
	left: 110px;
	width: 206px;
	height:61px;

	background-image: url(../img/logo_google_play.png);

	z-index: 70;


	 -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}






/*  ============================== Meio1 ========================= */

.meio1_geral{

	position: relative;
	top: -350px;
	width: 1000px;
	height: 450px;


	z-index: 90;
}

.meio_experimente{
	position: relative;

	left: 250px;
	top: -7px;

	width: 447px;
	height: 225px;
	background-image: url(../img/forma_a.png);

}


.meio_experimente:hover{
	position: relative;

	left: 250px;
	top: -7px;

	width: 447px;
	height: 225px;
	background-image: url(../img/forma_a.png);

	 -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);

}




.meio_experimente article{

	position: relative;
	top: 100px;

	font-size: 41px;

	 -ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);

}

.logo_vivo{
	position: relative;

	top: -230px;
	left: -240px;

	width: 270px;
	height: 270px;
	background-image: url(../img/ic_vivo.png);

}


.logo_vivo:hover{
	position: relative;

	top: -230px;
	left: -240px;

	width: 270px;
	height: 270px;
	background-image: url(../img/ic_vivo.png);

	 -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);

}





.logo_movile{
	position: relative;

	top: -190px;
	left: -170px;


	width: 213px;
	height: 213px;
	background-image: url(../img/ic_movile.png);

	float: right;



}

.logo_ies2{
	position: relative;

	top: -130px;
	left: -30px;


	width: 213px;
	height: 213px;
	background-image: url(../img/ic_ies2.png);

	float: right;



}


.logo_ies2:hover{
	position: relative;

	top: -130px;
	left: -30px;


	width: 213px;
	height: 213px;
	background-image: url(../img/ic_ies2.png);

	float: right;

	 -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);



}



	

.descricao_assinatura{
	position: relative;

	top: -260px;
	left: 300px;
	width: 400px;
	height: 140px;


	z-index: 100;

	font-size: 18px;
	font-weight: 100;


}

.banner_inclinado{
	position: relative;


	top: -700px;
	left: -200px;


	width: 200%;
	height: 350px;
	background-color: #ffffff;

	z-index: 60;


	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);


}

.banner_geral{
	position: relative;

	top: -750px;

	width: 100%;
	height: 530px;

	background-color: #ffffff;

	
	overflow: hidden;
	


}

.foto_banner{

	position: relative;
	width: 100%;
	height: 1286px;

	top: -100px;

	background: url(../img/banner1.jpg);



	background-position: center;

	background-size: 100% auto;

	background-repeat: no-repeat;

}

.banner_camada1{

	position: relative;
	width: 100%;
	height: 1286px;

	top: -1386px;

	background: url(../img/camada2.png);



	background-position: center;

	background-size: 100% auto;

	background-repeat: no-repeat;
}


.banner_camada2{

	position: relative;
	width: 100%;
	height: 1286px;

	top: -2672px;

	background: url(../img/camada1.png);



	background-position: center;

	background-size: 100% auto;

	background-repeat: no-repeat;
}

.banner_mascara{
	
	position: relative;
	width: 100%;
	height: 1286px;

	top: -3958px;

	background: url(../img/banner_mascara.png);



	background-position: center;

	background-size: 100% auto;

	background-repeat: no-repeat;

}

.grafico_geral{

	position: relative;

	top: -750px;
	width: 100%;
	height: 500px;
	background-color: #ffffff;
}

.forma2{

	position: relative;

	top: -30px;
	left: 230px;
	width: 497px;
	height: 234px;
	background-image: url(../img/forma_b.png);
	z-index: 80;
}

.forma2 article{
	position: relative;
	top: 100px;

	font-size: 60px;

	 -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);


}

.grafico{
	position: relative;
	width: 593px;
	height: 261px;
	background-image: url(../img/grafico.jpg);
	left: 190px;
	top: -30px;

	z-index: 80;
}

.galeria_fixa{

	position: relative;

	top: -400px;
	left: -370px;

	width: 505px;
	height: 422px;

	background-image: url(../img/galeria.png);
	background-repeat: no-repeat;


	z-index: 1000;

}

.mascara_galeria{

	position: relative;

	top: -138px;
	left: 14px;

	width: 272px;
	height: 436px;
	overflow: hidden;
	

}

.imgs{
	position: relative;
	width: 1907px;
	height: 436px;
	background-image: url(../img/galeria_imgs.jpg);

}

.barra_branca_inclinada2{
	position: relative;

	top: -750px;
	left: -490px;


	width: 200%;
	height: 350px;

	background-color: #ffffff;

	 -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);

    z-index: 10;

}

.mundo_geral{
	position: relative;

	top: -840px;


	width: 100%;
	height: 500px;

	background-color: #ffffff;

	overflow: hidden;

	z-index: 9;



}

.mundo_fundo{

	position: relative;
	width: 100%;
	height: 816px;

	background-image: url(../img/fundo_mundo.jpg);

	background-position: center;

	

	background-repeat: no-repeat;
}

.pirata{

	position: relative;

	top: -420px;
	left: -480px;

	width: 450px;
	height: 412px;


	background-image: url(../img/pirata.png);

	background-repeat: no-repeat;


	
}

.vaca{

	position: relative;

	top: -800px;
	left: 480px;

	width: 450px;
	height: 257px;


	background-image: url(../img/vaca.png);

	background-repeat: no-repeat;

}

.text1 article{
	position: relative;
	top: -1360px;
	left: -60px;

	font-size: 60px;

	 -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);


}
.text2 article{
	position: relative;
	top: -1300px;
	left: -40px;

	font-size: 35px;

	 -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);


}

.abaixar{

	position: relative;

	top: -1330px;
	left: 0px;

	width: 214px;
	height: 102px;


	background-image: url(../img/logo_android_mundo.png);

	background-repeat: no-repeat;

	z-index: 1000;

}


.abaixar:hover{

	position: relative;

	top: -1330px;
	left: 0px;

	width: 214px;
	height: 102px;


	background-image: url(../img/logo_android_mundo.png);

	background-repeat: no-repeat;

	z-index: 1000;

		 -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);

}



.facebook{

	position: relative;

	top: -1305px;
	left: 0px;

	width: 90px;
	height: 87px;


	background-image: url(../img/face.png);

	background-repeat: no-repeat;

	z-index: 1000;

}

.facebook:hover{

	position: relative;

	top: -1305px;
	left: 0px;

	width: 90px;
	height: 87px;


	background-image: url(../img/face.png);

	background-repeat: no-repeat;

	z-index: 1000;


	 -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);

}


.menu_abas{

	position: relative;

	top: 460px;

	width: 1000px;

	z-index: 20;



}


.abas{
	position: relative;
	margin-left: 190px;
	margin-top: 10px;

	height: 490px;

}

.aba{


	width: 130px;
	float: left;
	font-weight: 100;
	cursor: pointer;





}

.aba:link{

	color: #2d363d;


}

.aba:hover {

	color: #15acb6;
	font-weight: 200;
}

.aba_2{

	width: 130px;
	float: left;
	font-weight: 100;
	cursor: pointer;
	color: #15acb6;
	font-weight: 200;
}

.box_box{

	position: relative;

	top: -460px;
	width: 94%;
	font-weight: 100;
	color: #777777;
	text-align: left;
	font-size: 15px;

	


	

}




.box_box a:link    {color:#15acb6;}
.box_box a:visited {color:#15acb6;}
.box_box a:hover   {color:#15acb6;}
.box_box a:active  {color:#15acb6;}

.box_texto1{
	position: relative;
	
	width: 500px;
	text-align: left;
	font-weight: 100;
	font-size: 15px;
	color: #777777;

	float: left;


}

.galeria{

	position: relative;


	left: -60px;

	width: 303px;
	height: 547px;
	background-image: url(../img/fundo_galeria.jpg);

	float: right;
}


.galeria_voltar{

	position: relative;

	top: 210px;
	left: -63px;

	width: 63px;
	height: 87px;
	background-image: url(../img/galeria_voltar.jpg);
}


.galeria_avancar{

	position: relative;

	top: 123px;
	left: 303px;

	width: 63px;
	height: 87px;
	background-image: url(../img/galeria_avancar.jpg);
}

.aba1{

	display: block;

	
}

.aba2{

	display: none;
}

.aba3{

	display: none;
}

.aba4{

	display: none;
	margin-left: 230px;
}

.aba5{

	display: none;
}

.grama{

	position: relative;
	top: 100px;
	background-image: url(../img/grama.jpg);
	width: 100%;
	min-width: 1000px;
	height: 51px;
	background-color: #565b0e;
	background-repeat: repeat-x;

}

.rodape{

	position: relative;

	top: -100px;
	width: 100%;
	min-width: 1000px;
	height: 204px;
	background-image: url(../img/fundo_rodape.jpg);
	background-repeat: repeat-x;

	z-index: 10;

	

}

.rodape_conteudo{

	position: relative;
	top: 280px;
	width: 550px;
	font-size: 16px;
	text-align: center;

}

.rodape_desenvolvido{


	position: relative;
	left: -50px;

	position: relative;
	float: left;

}

.rodape_desenvolvido a:link{

	color:#0072bc;
	font-weight: 200;

}
.rodape_desenvolvido a:hover{

	color:#0072bc;
	font-weight: 200;
}


.rodape_traco{

	position: relative;
	top: -20px;
	left: 90px;
	width: 7px;
	height: 104px;
	background-image: url(../img/traco_mala_direta.jpg);
	float: left;

}



.rodape_receba{

	position: relative;
	top: 5px;
	left: 130px;


}



.rodape_form{
	position: relative;
	top: 12px;
	left: 225px;
	float: left;


}

.rodape_botao{
	position: relative;
	top: 5px;
	left: 225px;
	float: left;
	width: 36px;
	height: 36px;
	background-image: url(../img/bt_mala_direta.jpg);
	background-size: 100% 100%;
	border-style: none;


}

.rodape_redes{

	position: relative;

	top: 5px;
	left: -60px;
	width: 200px;
	height: 75px;

	z-index: 1000;
}

.rodape_redes .ic_face{

	float: left;
	position: relative;
	top: -60px;
	width: 57px;
	height: 56px;
	background-image: url(../img/ic_face.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.rodape_redes .ic_youtube{

	float: left;
	position: relative;
	top: -60px;
	width: 57px;
	height: 56px;
	background-image: url(../img/ic_youtube.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.rodape_redes .ic_site{

	float: left;
	position: relative;
	top: -60px;
	left: 4px;

	width: 57px;
	height: 56px;
	background-image: url(../img/ic_site.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.rodape_redes div:hover{

	opacity: 0.85;

}


/* =========== GALERIA CARD ================ */

.galeria_card{

	position: relative;
	
	top: -840px;

	width: 100%;

	height: 740px;
	background-color: #293239;

	overflow: hidden;

	background-image: url(../img/cards/fundo_geral_cards.jpg);




}

.card_todos{

	position: relative;

	top: 50px;
    height: 290px;
    width: 150px;
    margin: 50px;
    padding: 10px;

     -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
 
    -webkit-perspective: 800px; /* Chrome, Safari, Opera  */
    perspective: 800px;


}

.card_inclinados{


	padding: 0px;
    position: relative;
    top: 30px;
    left: -565px;
    width: 830px;
    height: 550px;
  
   
    -webkit-transform: rotateY(45deg); /* Chrome, Safari, Opera  */
    transform: rotateY(45deg);
    overflow: hidden;
}

.cards{
	position: relative;
	top: -9px;
	left: 270px;
	width: 13555px;
}

.cards div{

	position: relative;
	margin-left: 30px;
	margin-top: 25px;
	width: 240px;
	height: 490px;
	float: left;
	background-image: url(../img/cards/card1.jpg);
	background-size: 100% 100%;


}

.cards div img{

	position: relative;
	left: 0px;
	top: 100px;
	width: 200px;
	height: 210px;
	opacity: 0.3;
	z-index: 1001
}

.setinha{
	position: relative;
	width: 30px;
	height: 60px;

	overflow: hidden;

	font-size: 50px;

}

.mov_setinha{

	position: relative;
	width: 60px;
	height: 120px;
	top: 0px;
	left: -15px;

	animation:mov4b 0.4s;
	-moz-animation:mov4b  0.4s; 
	-webkit-animation:mov4b  0.4s; /* Safari and Chrome */


}

.mov_setinha:hover{

	position: relative;
	width: 60px;
	height: 120px;
	top: -60px;

	left: -15px;

	animation:mov4 0.5s;
	-moz-animation:mov4  0.5s; 
	-webkit-animation:mov4  0.5s; /* Safari and Chrome */

	cursor: pointer;

}

.cards div:nth-child(1) {background-image: url(../img/cards/card1.jpg);}
.cards div:nth-child(2) {background-image: url(../img/cards/card13.jpg);}
.cards div:nth-child(3) {background-image: url(../img/cards/card4.jpg);}
.cards div:nth-child(4) {background-image: url(../img/cards/card9.jpg);}
.cards div:nth-child(5) {background-image: url(../img/cards/card12.jpg);}
.cards div:nth-child(6) {background-image: url(../img/cards/card6.jpg);}
.cards div:nth-child(7) {background-image: url(../img/cards/card2.jpg);}
.cards div:nth-child(8) {background-image: url(../img/cards/card10.jpg);}
.cards div:nth-child(9) {background-image: url(../img/cards/card3.jpg);}
.cards div:nth-child(10){background-image: url(../img/cards/card5.jpg);}

.cards div:nth-child(11) {background-image: url(../img/cards/card8.jpg);}
.cards div:nth-child(12) {background-image: url(../img/cards/card15.jpg);}
.cards div:nth-child(13) {background-image: url(../img/cards/card12.jpg);}
.cards div:nth-child(14) {background-image: url(../img/cards/card9.jpg);}
.cards div:nth-child(15) {background-image: url(../img/cards/card13.jpg);}
.cards div:nth-child(16) {background-image: url(../img/cards/card2.jpg);}
.cards div:nth-child(17) {background-image: url(../img/cards/card15.jpg);}
.cards div:nth-child(18) {background-image: url(../img/cards/card6.jpg);}
.cards div:nth-child(19) {background-image: url(../img/cards/card10.jpg);}
.cards div:nth-child(20){background-image: url(../img/cards/card9.jpg);}

.cards div:nth-child(21) {background-image: url(../img/cards/card4.jpg);}
.cards div:nth-child(22) {background-image: url(../img/cards/card11.jpg);}
.cards div:nth-child(23) {background-image: url(../img/cards/card2.jpg);}
.cards div:nth-child(24) {background-image: url(../img/cards/card3.jpg);}
.cards div:nth-child(25) {background-image: url(../img/cards/card9.jpg);}




.oculto{

	opacity: 0;
}

.blur1{

-webkit-filter: blur(8px);
   -moz-filter: blur(8px);
    -ms-filter: blur(8px);
     -o-filter: blur(8px);
filter: blur(8px);

opacity: 0.9;

		animation:mov3b 1.1s;
	-moz-animation:mov3b  1.1s; 
	-webkit-animation:mov3b  1.1s; /* Safari and Chrome */

}

.nitido{

-webkit-filter: blur(0px);
   -moz-filter: blur(0px);
    -ms-filter: blur(0px);
     -o-filter: blur(0px);
filter: blur(0px);

		animation:mov3 1s;
	-moz-animation:mov3  1s; 
	-webkit-animation:mov3  1s; /* Safari and Chrome */

}

.card_mascara{
	position: relative;

	top: -270px;
	left: -380px;

	width: 895px;
	height: 620px;
	background-image: url(../img/cards/mascara.png);
	background-size: 100% 100%;
}


.card_texto{
	position: relative;

	top: -730px;
	left: 300px;

	width: 350px;
	height: 250px;
	text-align: left;

}

.card_texto article{

	font-size: 45px;
}


.card_texto p{

	font-family: roboto;
	
	font-size: 16px;
	color: #ffffff;
}


.controle_cards{
	position: relative;
	width: 300px;
	top: -770px;
	left: 270px;

}
.botao_card_volta{

		position: relative;


		width: 60px;
		height: 60px;


		border-radius: 50px;
		background-color: #fff;

		float: left;

		opacity: 0.6;

		 z-index: 1000;

		 color: #293239;

}

.numeros{

	position: relative;
	top: 15px;
	width: 120px;
	font-family: roboto;
	font-size: 19px;
	color: #ffffff;

	float: left;
	font-weight: 300;

}



.botao_card_avanca{

		position: relative;


		width: 60px;
		height: 60px;


		border-radius: 50px;
		background-color: #fff;

		float: left;

		opacity: 0.6;

		 z-index: 1000;

		 color: #293239;



}

/* =================== ANIMACOES ================= */

@keyframes mov1
{
0%   {opacity: 0.0;}
50%   {opacity: 1.0;}
100% {opacity: 0.0;}
}

@-moz-keyframes mov1 /* Firefox */
{
0%   {opacity: 0.0;}
50%   {opacity: 1.0;}
100% {opacity: 0.0;}
}

@-webkit-keyframes mov1 /* Safari and Chrome */
{
0%   {opacity: 0.0;}
50%   {opacity: 1.0;}
100% {opacity: 0.0;}
}


@keyframes mov2
{
0%   {opacity: 1.0;}
50%   {opacity: 0.0;}
100% {opacity: 1.0;}
}

@-moz-keyframes mov2 /* Firefox */
{
0%   {opacity: 1.0;}
50%   {opacity: 0.0;}
100% {opacity: 1.0;}
}

@-webkit-keyframes mov2 /* Safari and Chrome */
{
0%   {opacity: 1.0;}
50%   {opacity: 0.0;}
100% {opacity: 1.0;}
}






@keyframes mov3
{
0%   {-webkit-filter: blur(7px); -moz-filter: blur(7px); -ms-filter: blur(7px); -o-filter: blur(7px); filter: blur(7px);}
100% {-webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); -o-filter: blur(0px); filter: blur(0px);}
}

@-moz-keyframes mov3 /* Firefox */
{
0%   {-webkit-filter: blur(7px); -moz-filter: blur(7px); -ms-filter: blur(7px); -o-filter: blur(7px); filter: blur(7px);}
100% {-webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); -o-filter: blur(0px); filter: blur(0px);}
}

@-webkit-keyframes mov3 /* Safari and Chrome */
{
0%   {-webkit-filter: blur(7px); -moz-filter: blur(7px); -ms-filter: blur(7px); -o-filter: blur(7px); filter: blur(7px);}
100% {-webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); -o-filter: blur(0px); filter: blur(0px);}
}


@keyframes mov3b
{
0%   {-webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); -o-filter: blur(0px); filter: blur(0px); opacity: 1.0;}
100% {-webkit-filter: blur(7px); -moz-filter: blur(7px); -ms-filter: blur(7px); -o-filter: blur(7px); filter: blur(7px); opacity: 0.9;}
}

@-moz-keyframes mov3b /* Firefox */
{
0%   {-webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); -o-filter: blur(0px); filter: blur(0px); opacity: 1.0;}
100% {-webkit-filter: blur(7px); -moz-filter: blur(7px); -ms-filter: blur(7px); -o-filter: blur(7px); filter: blur(7px); opacity: 0.9;}
}

@-webkit-keyframes mov3b /* Safari and Chrome */
{
0%   {-webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); -o-filter: blur(0px); filter: blur(0px); opacity: 1.0;}
100% {-webkit-filter: blur(7px); -moz-filter: blur(7px); -ms-filter: blur(7px); -o-filter: blur(7px); filter: blur(7px); opacity: 0.9;}
}


@keyframes mov4
{
0%   {top: 0px;}
100% {top: -60px;}
}

@-moz-keyframes mov4 /* Firefox */
{
0%   {top: 0px;}
100% {top: -60px;}
}

@-webkit-keyframes mov4 /* Safari and Chrome */
{
0%   {top: 0px;}
100% {top: -60px;}
}



@keyframes mov4b
{
0%   {top: -60px;}
100% {top: 0px;}
}

@-moz-keyframes mov4b /* Firefox */
{
0%   {top: -60px;}
100% {top: 0px;}
}

@-webkit-keyframes mov4b /* Safari and Chrome */
{
0%   {top: -60px;}
100% {top: 0px;}
}
